@model IEnumerable<Project2_MissionaryApp.Models.Mission>
@{
    ViewBag.Title = "Index";
}
<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item active">Missions</li>
</ol>

<h2>Missions</h2>

@foreach(var item in Model)
{
    @Html.ActionLink(item.MissionName, "Faqs", "Missions", routeValues: new { id = item.MissionId}, htmlAttributes: new { @class= "btn btn-primary btn-lg btn-block" })
}